
{% extends 'layout.html' %}

{% block title %} Customer management {% endblock %}

{% block body %}
<div class="jumbotron p-3">
<div class="container">
    <br/>
	<div class="row justify-content-center">

        <h3 class="title"> <br> {{g.user.username}}'s session</h3>
                        <div class="col-12 col-md-10 col-lg-8">
                            <form action="search" method="GET"  class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">

                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input  name="query" id="query" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search names">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit" >Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
</div>

</div>


{% endblock %}